.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu_icn {
    display: none;
}

.moblie_nav {
    z-index: 999;
    position: absolute;
    width: 50%;
    top: 0px;
    right: 0;
    overflow: hidden;
    /* Добавлено для скрытия содержимого, которое выходит за границы */
    height: 0;
    transform: translateX(100%);
    transition: height 0.5s ease-in-out, transform 0.5s ease-in-out;




    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 30px;

    background: var(--bg-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-left: 1px solid #4C4B83;



}

.moblie_nav.active {
    height: 100dvh;
    transform: translateX(0);
    /* Показываем меню справа налево */
}

.close {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (min-width: 700px) {
    .moblie_nav {
        display: none;
    }
}

@media (max-width: 700px) {
    .nav {
        display: none;
    }

    .menu_icn {
        display: block;
    }
}