.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_container {
    flex: 1;
}

.text_container {
    flex: 1;
}

.text_container p {
    font-size: 24px;
    color: var(--white);
}

.text_container p span {
    font-size: 24px;
    color: var(--gray);
}

.text_container h1 {
    max-width: 480px;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 20px;
    margin-bottom: 40px;
}


.text_container__btn {
    text-decoration: none;
    padding: 10px 16px;
    border: 1px solid var(--main-blue);

    font-size: 18px;
    color: #C0C0C0;



}

.text_container__btn:hover {
    text-decoration: none;
    padding: 10px 16px;

    font-size: 18px;
    color: var(--white);
    background-color: var(--main-blue);
    transition: .7s ease-in-out;
}

.img_container {
    float: right;
    height: 478px;
    width: 478px;
    position: relative;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.react_img {
    animation: rotate 60s linear infinite;
}

.development,
.design {
    z-index: 100;
    display: inline;
    padding: 12px 16px;
    font-size: 14px;
    position: absolute;

    background: rgba(44, 42, 67, 0.60);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid #4C4B83;

}

.development {
    top: 426px;
    left: 74px;
}

.design {
    right: 15px;
    top: 70px;
}

.next_img {
    z-index: 100;
    position: absolute;


    top: 15px;
    left: 45px;

}

.figma_img {
    position: absolute;
    right: 90px;
    bottom: 40px;
}

@media (max-width: 1040px) {
    .text_container p {
        font-size: 18px;
    }

    .text_container h1 {
        max-width: 480px;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .img_container {}

}

@media (max-width: 900px) {
    .text_container h1 {
        max-width: 300px;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}