.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_container p {
    font-size: 24px;
    color: var(--white);
}

.text_container p span {
    font-size: 24px;
    color: var(--gray);
}

.text_container h1 {
    max-width: 480px;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}


.text_container__btn {
    text-decoration: none;
    padding: 10px 16px;
    border: 1px solid var(--main-blue);

    font-size: 18px;
    color: #C0C0C0;



}

.text_container__btn:hover {
    text-decoration: none;
    padding: 10px 16px;

    font-size: 18px;
    color: var(--white);
    background-color: var(--main-blue);
    transition: .7s ease-in-out;
}

.img_container {

    position: relative;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.react_img {
    animation: rotate 60s linear infinite;
}




.next_img {
    z-index: 100;
    position: absolute;
    top: 17px;
    left: 14px;

}

.figma_img {
    position: absolute;
    right: 25px;
    bottom: 22px;
}

@media (max-width: 700px) {
    .text_container h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .text_container p {
        font-size: 18px;
    }

    .text_container__btn {
        text-decoration: none;
        padding: 10px 16px;
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .text_container h1 {
        font-size: 22px;
        margin-bottom: 18px;
    }

    .text_container p {
        font-size: 14px;
    }

    .text_container__btn {
        text-decoration: none;
        padding: 10px 16px;
        font-size: 12px;
    }

    .img_container {
        transform: scale(80%);
    }
}