.footer {
    height: 150px;
    display: flex;
    align-items: center;

    color: var(--gray);
    font-size: 18px;

}

@media (max-width: 1040px) {
    .footer {
        font-size: 14px;
        line-height: 140%;
    }
}

@media (max-width: 840px) {
    .footer {
        text-align: center;
        font-size: 14px;
    }
}