.path {
    transition: transform .6s ease-in-out;
}

.bar1 {
    transform: rotate(-45deg) translate(-12px, 9px);
    transition: transform .6s ease-in-out;
}

.bar2 {
    opacity: 0;
    transition: transform 1s ease-in-out;
}

.bar3 {
    transform: rotate(45deg) translate(4px, -16px);
    transition: transform .6s ease-in-out;
}